name: Listing Finder Bot

on:
  schedule:
    - cron: "0 */6 * * *"   # প্রতি 6 ঘন্টা
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Get repository code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Python packages
        run: pip install requests

      - name: Run Telegram Bot
        run: python bot.py
