name: Listing Finder Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: pip install requests

      - run: python bot.py

      - name: Commit sent tokens
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add sent_tokens.txt
          git commit -m "Update sent tokens" || echo "No changes"
          git push
